In [1]:
import pandas as pd
import plotly.express as px
import dash
import dash_bootstrap_components as dbc
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

df = pd.read_csv("https://raw.githubusercontent.com/ThuwarakeshM/geting-started-with-plottly-dash/main/life_expectancy.csv")

continent_options = [{"label": "All", "value": "All"}] + [{"label": c, "value": c} for c in df["continent"].unique()]

available_themes = ["plotly", "plotly_dark", "ggplot2", "seaborn", "simple_white"]

default_theme = "plotly"

def generate_figure(theme=default_theme, continent="All"):
    if continent == "All":
        df_filtered = df
    else:
        df_filtered = df[df["continent"] == continent]
        
    fig = px.scatter(
        df_filtered,
        x="GDP",
        y="Life expectancy",
        size="Population",
        color="continent",
        hover_name="Country",
        log_x=True,
        size_max=60,
        template=theme,
    )
    return fig

app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

app.layout = dbc.Container(
    [
        html.H1("Life Expectancy vs. GDP", className="text-center"),
        dcc.Graph(id="life-exp-vs-gdp"),
        dcc.Dropdown(
            id="continent-dropdown",
            options=continent_options,
            value="All",
        )
        ,
        dcc.Slider(
            id="theme-slider",
            min=0,
            max=len(available_themes) - 1,
            step=1,
            value=available_themes.index(default_theme),
            marks={i: available_themes[i] for i in range(len(available_themes))},
        ),
    ],
    fluid=True,
)

@app.callback(
    Output("life-exp-vs-gdp", "figure"),
    [Input("theme-slider", "value"), Input("continent-dropdown", "value")],
)
def update_figure(value, continent):
    selected_theme = available_themes[value]
    fig = generate_figure(selected_theme, continent)
    return fig

if __name__ == "__main__":
    app.run_server(debug=False)

ModuleNotFoundError: No module named 'plotly'

In [3]:
df

,Country,Year,Status,Life expectancy,Population,GDP,Schooling,continent
0,Afghanistan,2015,Developing,65.0,33736494.0,584.259210,10.1,Asia
1,Afghanistan,2014,Developing,59.9,327582.0,612.696514,10.0,Asia
2,Afghanistan,2013,Developing,59.9,31731688.0,631.744976,9.9,Asia
3,Afghanistan,2012,Developing,59.5,3696958.0,669.959000,9.8,Asia
4,Afghanistan,2011,Developing,59.2,2978599.0,63.537231,9.5,Asia
...,...,...,...,...,...,...,...,...
2257,Zimbabwe,2004,Developing,44.3,12777511.0,454.366654,9.2,Africa
2258,Zimbabwe,2003,Developing,44.5,12633897.0,453.351155,9.5,Africa
2259,Zimbabwe,2002,Developing,44.8,125525.0,57.348340,10.0,Africa
2260,Zimbabwe,2001,Developing,45.3,12366165.0,548.587312,9.8,Africa
2261,Zimbabwe,2000,Developing,46.0,12222251.0,547.358878,9.8,Africa